<% @creatures.each do |creature| %>
  <p>
    Name : <%= creature.name %>
    Description : <%= creature.description %>

  </p>
<% end %>
<br>
<h1> Hello, <small>these are the creatures listed below  </h1>